<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="home">Cosmos@Angul</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf='isAdmin' class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="listusers">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productmenu">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history">My Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history">History</a>
        </li> 
      </ul>
      <span class="nav-item">
        <a class="navbar-brand" href="logoutpage">Logout <span class="sr-only">(current)</span></a>
      </span>
    </div>
    <div *ngIf='!isAdmin' class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="vstore">Strore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vopencart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history">History</a>
        </li>
      </ul>
      <span class="nav-item active">
        <a class="navbar-brand" href="logoutpage">Logout <span class="sr-only">(current)</span></a>
      </span>
    </div>
  </nav>
</div>